.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    background-color: #f6f6f6;
    height: 100vh;
    color: black;
    width: 20rem;
    padding: 0 30px;
}

.form_login_group{
    display: flex;
    flex-direction: column;
}

.form_login_group > input {
    height: 30px;
    padding: 0 10px;
    color: #040404;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid black;
}

.form_login_group > label {
    font-weight: 600;
}